{% load static %}
<html>
<head>
<meta charset="iso-8859-1">
<script src="{% static 'brython.js' %}"></script>
</head>
<body onLoad="brython()">
<script type="text/python" src="{% static 'mainui.py' %}"></script>

<p>AI to play against: <select id="aiselect"></select><button id="play">play!</button>
    <label id="statuslabel" title=""></label></p>

<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512">
  <g id="panel">
      <pattern id="pattern"
           x="0" y="0" width="128" height="128"
           patternUnits="userSpaceOnUse" >
        <rect fill="rgba(0, 0, 255, 0.4)" x="0" width="64" height="64" y="0"></rect>
        <rect fill="rgba(0, 0, 255, 0.4)" x="64" width="64" height="64" y="64"></rect>
    </pattern>
    <rect fill="url(#pattern)" x="0" y="0" width="512" height="512" style="stroke: blue"></rect>
  </g>
</svg>

</body>
</html>
